* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 950px;
    background-color: silver;
    margin: 0;
    padding: 10px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}

.content {
    display: flex;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 10px;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
}

#advertisement {
    height: 100px;
    width: 650px;
    background-color: purple;
    margin: 10px;
}